@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
}
body {
  color: #8d96a7;
  font-size: 0.96rem;
  font-weight: 300;
  color: rgba(249, 249, 249, 0.98);
  /* background-image: url("../img/gradiente\ background.png"),
    url("../img/Imagem\ Background.jpg");

  background-size: contain, contain;
  background-repeat: no-repeat; */
}
.bg-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  position: absolute;
}

.bg {
  position: relative;
  background-image: url("../img/gradiente\ background.png"),
    url("../img/Imagem\ Background.jpg");
  background-size: contain, contain;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding-inline: 15px;
}
header .logo-header {
  width: 63px;
  height: 38px;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  margin-left: -38px;
}
.nav-bar ul {
  display: flex;

  gap: 25px;
}

.nav-bar ul li {
  list-style: none;
}
.nav-bar ul li a {
  display: flex;
  color: #fff;
  text-decoration: none;
  font-weight: 900;

  font-size: 14.33px;
  line-height: 21.49px;
}
.display-none {
  display: none;
}
.span-hidden {
  display: none;
}
.more-hidden {
  display: none;
}

.more ul {
  display: block;
  margin-bottom: 5px;
}
.more a {
  margin-bottom: 5px;
}
.hamburguer {
  cursor: pointer;
}
.elemental {
  margin: 75px 0px 0px 20px;
}
.elemental-img img {
  width: 150.5px;
  height: 84.66px;
  margin-top: -17px;
}
.bg-fill {
  height: 20px;
  background-color: #1a1d29;
  margin: -3px;
  max-width: 100%;
}

main {
  background-color: #1a1d29;
  width: 100%;
  margin-bottom: -0.9rem;
}

.principal {
  margin: 0px 0px 0px 30px;
}

.descricao ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 3px;
}

.descricao p {
  font-family: Poppins;
  font-size: 10px;
  font-weight: 300;
  line-height: 14px;
  letter-spacing: 0.05em;
  color: rgba(249, 249, 249, 0.98);
}
.descricao .date-hour {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-align: left;
}
.descricao h4 {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-align: left;
}

.duracao {
  margin-left: 15px;
}

.play {
  display: flex;
  justify-content: space-between;
  width: 227px;
  height: 49px;
  margin-top: 40px;
  border-radius: 2.38px;
}
.progress {
  margin-top: 30px;
}

.progress-bar {
  width: 199px;
  background-color: #ddd;
  height: 5px;
  border-radius: 5px;
  margin-top: 20px;
}

.progress-background {
  width: 8vw;
  height: 100%;
  background-color: #0970c5;
  border-radius: 5px;
}

.progress p {
  transform: translate(209px, -14px);
  font-family: Poppins;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-align: left;
}

.article {
  width: 342.96px;
  height: 191px;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0.07em;
  margin-bottom: 70px;
  word-wrap: break-word;
}

.suggest-bar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  font-weight: 600;
  font-size: 20.85px;
  line-height: 31.2px;
  letter-spacing: 4%;
  margin-right: 5px;
}

.suggest-bar-toggle {
  width: 140px;
  background-color: #ddd;
  height: 3px;
  border-radius: 5px;
  margin-top: 20px;
}

.linha {
  border: 1.5px solid #fff;
  margin-bottom: 25px;
}

.carousel img {
  height: 100%;
  width: 166px;
  height: 93.38px;
  border-radius: 1.85px;
}
.carousel ul {
  list-style: none;
  display: flex;
  gap: 30px;
}
.fill {
  height: 100px;
  background-color: #1a1d29;
}
.fill-footer {
  height: 150px;
  max-width: 120%;
  background-color: #1a1d29;
  margin-left: -2rem;
}

footer {
  height: 430px;
  background-color: #0e0b14;
  margin-top: -100px;
}
.footer-img {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.footer-first-ul {
  margin: 10px 0px 10px 0px;
}
.footer-first-ul ul {
  width: 90%;
  margin: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 8px;
  padding-left: 6px;
}
.footer-first-ul a {
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  font-size: 0.79rem;
  line-height: 22.5px;
  letter-spacing: -8%;
}
.footer-second-ul {
  margin-bottom: 5px;
}
.footer-second-ul ul {
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  list-style: none;
}
.footer-second-ul a {
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  font-size: 0.79rem;
  line-height: 22.5px;
  letter-spacing: -8%;
}
.address {
  margin: 0 auto;
  width: 300px;
  height: 106px;
}
.address p {
  font-family: Poppins;
  font-size: 13px;
  font-weight: 300;
  line-height: 17px;
  letter-spacing: -0.06em;
  text-align: center;
  color: #f9f9f9;
}

.address .copy {
  margin-top: 10px;
}

@media only screen and (max-width: 450px) {
  footer {
    transform: translateY(260px);
    height: 300px;
    background-color: #0e0b14;
    width: 100%;
  }
  .footer-img img {
    margin-top: 20px;
    width: 94px;
    height: 38px;
  }
  .bg {
    margin-bottom: -46px;
  }
  .footer-first-ul ul {
    width: 90%;
    margin: 0;
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 8px;
    margin-left: 7px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .bg {
    background-size: cover, 100%;
    height: 450px;
  }

  .elemental-img img {
    width: 150.5px;
    height: 84.66px;
  }
  .descricao {
    margin-top: -30px;
  }
  .suggest-bar ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style: none;
    font-weight: 600;
    font-size: 20.85px;
    line-height: 31.2px;
    letter-spacing: 4%;
    gap: 50px;
  }
}

@media only screen and (min-width: 1200px) {
  .bg-fill {
    background-color: transparent;
  }
  .bg {
    background-image: unset, unset;
    background-size: cover, cover;
  }
  /* .bg-img {
    width: 2000px;
    height: 100%;
    object-fit: cover;
    background-size: cover;
  } */
  main {
    background-color: unset;
  }

  .nav-bar {
    margin-top: 10px;
    margin-left: -580px;
  }
  .span-hidden {
    display: flex;
    align-items: center;
  }
  .hamburguer img {
    display: none;
  }
  .more {
    display: flex;
  }
  .more ul {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .suggest-bar ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style: none;
    font-weight: 600;
    font-size: 20.85px;
    line-height: 31.2px;
    letter-spacing: 4%;
    gap: 50px;
  }
}
