@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
}
body {
  color: #8d96a7;
  font-size: 0.96rem;
  font-weight: 300;
  color: rgba(249, 249, 249, 0.98);
  /* background-image: url("../img/gradiente\ background.png"),
    url("../img/Imagem\ Background.jpg");

  background-size: contain, contain;
  background-repeat: no-repeat; */
}

.bg {
  background-image: url("../img/gradiente\ background.png"),
    url("../img/Imagem\ Background.jpg");
  background-size: contain, contain;
  background-repeat: no-repeat;
  height: 269px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding-inline: 15px;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  margin-left: -60px;
}
.nav-bar ul {
  display: flex;

  gap: 25px;
}

.nav-bar ul li {
  list-style: none;
}
.nav-bar ul li a {
  display: flex;
  color: #fff;
  text-decoration: none;
  font-weight: 900;

  font-size: 14.33px;
  line-height: 21.49px;
}
.display-none {
  display: none;
}
.span-hidden {
  display: none;
}
.more-hidden {
  display: none;
}

.more ul {
  display: block;
  margin-bottom: 5px;
}
.more a {
  margin-bottom: 5px;
}
.hamburguer {
  cursor: pointer;
}
.elemental {
  margin: 75px 0px 0px 35px;
}
.bg-fill {
  height: 20px;
  background-color: #1a1d29;
  margin: -3px;
  max-width: 100%;
}

main {
  background-color: #1a1d29;
  width: 100%;
}

.principal {
  margin: 0px 0px 0px 35px;
}

.descricao ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 3px;
}

.descricao p {
  font-size: 11.95px;
  line-height: 17.93px;
  letter-spacing: 5%;
}

.duracao {
  margin-left: 15px;
}

.play {
  display: flex;
  justify-content: space-between;
  width: 227px;
  height: 49px;
  margin-top: 40px;
}
.progress {
  margin-top: 30px;
}

.progress-bar {
  width: 199px;
  background-color: #ddd;
  height: 5px;
  border-radius: 5px;
  margin-top: 20px;
}

.progress-background {
  width: 8vw;
  height: 100%;
  background-color: #0970c5;
  border-radius: 5px;
}

.progress p {
  transform: translate(209px, -14px);
  font-size: 13px;
  font-weight: 100;
}

.article {
  width: 90%;
  font-size: 15.36px;
  line-height: 32.13px;
  letter-spacing: 2px;
  font-weight: 300;
  font-family: "poppins";
  margin-bottom: 70px;
  word-wrap: break-word;
}

.suggest-bar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  font-weight: 600;
  font-size: 20.85px;
  line-height: 31.2px;
  letter-spacing: 4%;
  margin-right: 5px;
}

.suggest-bar-toggle {
  width: 140px;
  background-color: #ddd;
  height: 3px;
  border-radius: 5px;
  margin-top: 20px;
}

.linha {
  border: 1.5px solid #fff;
  margin-bottom: 25px;
}

.carousel img {
  height: 100%;
  width: 157px;
}
.carousel ul {
  list-style: none;
  display: flex;
  gap: 30px;
}
.fill {
  height: 100px;
  background-color: #1a1d29;
}

footer {
  height: 40%;
  background-color: aqua;
}

@media only screen and (max-width: 428px) {
  .bg {
    margin-bottom: -46px;
  }
}

@media only screen and (min-width: 768px) {
  .bg {
    background-size: cover, 100%;
    height: 450px;
  }

  .elemental-img img {
    height: 160px;
    width: 285px;
  }
  .descricao {
    margin-top: -30px;
  }
  .suggest-bar ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style: none;
    font-weight: 600;
    font-size: 20.85px;
    line-height: 31.2px;
    letter-spacing: 4%;
    gap: 50px;
  }
}

@media only screen and (min-width: 1200px) {
  .bg {
    height: 800px;
  }

  .nav-bar {
    margin-top: 10px;
    margin-left: -580px;
  }
  .span-hidden {
    display: flex;
    align-items: center;
  }
  .hamburguer img {
    display: none;
  }
  .more {
    display: flex;
  }
  .more ul {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
